body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202124;
    height: 100vh;
}

.link-gmail {
    color:#FFFFFF;
    text-decoration: none;
}

.containerheader{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    align-items: flex-start;
    font-size: 13px;
}

.box{
    padding: 15px;
    align-self: center;
}

.containerlogo{
    display: flex;
    justify-content: center;  
    margin-bottom: 30px; 
}
.containersearch{
    display: flex;
    justify-content: center;
}
.containerbuttons{
    display: flex;
    justify-content: center;

}
.button{
    background-color: #303134;
    color: #FFFFFF;
    border: 1px solid #303134;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

.containerinformation{
    display: flex;
    justify-content: center;
    color: #bdc1c6;
    line-height: 28px;
    font-size: 13px;
}

.containerfooter{
    color: #9aa0a6;
    background-color: #171717;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.countri{   
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;
    color: #9aa0a6;
    display: flex;
    
}
.footerabajo{
    justify-content: space-evenly;
}

.about{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 450px;  
}

.about a:first-child {
    padding-left: 0;
}

.link-abount{
    color:#9aa0a6;
    text-decoration: none;
    padding: 15px;
}
.privacy {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}
.footerabajo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding: 0 20px;
}
.barrabuscador{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-width: 584px;
    min-height: 44px;
    width: 582px;
    z-index: 3;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(32, 33, 36);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom: rgb(95, 99, 104);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(95, 99, 104);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(95, 99, 104);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(95, 99, 104);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    color: rgb(189, 193, 198);
    padding-left: 45px;
    margin-bottom: 30px;
}
.search{
    width: 32px;
    height: 32px;
    background-image: url(seach.svg);   
    position: absolute;
    left: 10px;
    top: 10px;
}
.camera {
    width: 32px;
    height: 32px;
    right: 10px;
    top: 10px;
    position: absolute;
    
}
.microphone{
    width: 32px;
    height: 32px;
    background-image: url(microphone.svg);
    position: absolute;
    background-color: transparent;
    border: none;
    right: 50px;
    top: 10px;
}
.buscador{
    position: relative;
}